<h1> Search for a movie </h1>
<form action="/movies" method="GET">
 <p>
   <label>Movie Title</label>
   <input type="text" name="movie_name" placeholder="Search for a movie">
 </p>
   <input type='submit' value="movie search">
</form>

